body {
  background-color: rgb(214, 202, 202);
  margin: 0px;
}

.quadrado {
  width: 8cm;
  height: 5cm;
  display: flexbox;
  text-align: center;
  background-color: aquamarine;
  position: relative;
}

.corpo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: table-cell;
  align-items: center;
  text-align: center;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
